HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/uploads/Original/foto-01.png
/uploads/Original/foto-02.png
/uploads/Original/foto-03.png
/uploads/Original/foto-04.png
/uploads/Original/foto-05.png
/uploads/MarcaDagua/marca_foto-01.png
/uploads/MarcaDagua/marca_foto-02.png
/uploads/MarcaDagua/marca_foto-03.png
/uploads/MarcaDagua/marca_foto-04.png
/uploads/MarcaDagua/marca_foto-05.png
